@import url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css');
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');
@import url('https://cdn.jsdelivr.net/npm/open-color@1.9.1/open-color.min.css');

// globals
@mixin icon {
  display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: center; background-size: cover; background-color: currentColor;
  -webkit-mask-image: var(--svg); mask-image: var(--svg); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-size: 100% 100%; mask-size: 100% 100%;
}
:root {
  --fg-1: var(--oc-gray-8); --fg-2: var(--oc-gray-6); --fg-3: var(--oc-gray-4); --fg-a: var(--oc-blue-8); --fg-b: var(--oc-red-8);
  --bg-1: var(--oc-gray-2); --bg-2: var(--oc-gray-0); --bg-3: var(--oc-indigo-0);
  &[data-theme="dark"] {
    --fg-1: var(--oc-gray-1); --fg-2: var(--oc-gray-3); --fg-3: var(--oc-gray-5); --fg-a: var(--oc-blue-1); --fg-b: var(--oc-red-1);
    --bg-1: var(--oc-gray-7); --bg-2: var(--oc-gray-9); --bg-3: var(--oc-indigo-9);
  }
}
body, pre, code, samp, kbd {
  font: 400 16px 'D2Coding', monospace;
}
* {
  box-sizing: border-box; -webkit-tap-highlight-color: transparent; transition: left 0.4s, transform 0.4s;
}
html, body, div, header, main, footer, aside, nav, section, article {
  -ms-overflow-style: none; scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
a, a:link, a:visited, a:hover, a:active {
  font-weight: 400; text-decoration: none; color: var(--fg-a);
}
b, strong {
  font-weight: 400; color: var(--fg-b);
}

// layouts
.menu-btn {
  position: fixed; top: 1rem; right: 1rem; height: 2rem; width: 2rem; z-index: 100; overflow: hidden;
  label {
    position: relative; height: 100%; width: 100%;
    display: block;
    .menu-btn-bg {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      background-color: var(--fg-a); opacity: 0.3;
    }
    input {
      height: 0; width: 0; opacity: 0;
      &:checked+div {
        transform: rotate(45deg);
      }
    }
    .menu-btn-icon {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      --svg: url('https://api.iconify.design/bi:plus-circle.svg');
    }
  }
}
.dummy {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  .bg-left {
    flex: 1 0 0; height: 100%;
    background-color: var(--bg-1);
  }
  .bg-right {
    flex: 1 0 0; height: 100%;
    background-color: var(--bg-2);
  }
}
.sidebar {
  position: fixed; top: 0; left: -320px; height: 100%; width: 320px; padding: 0 5px; z-index: 20; overflow: hidden;
  background-color: var(--bg-1);
  &:before, &:after {
    content: " "; display: table-cell;
  }
  &.checked {
    left: 0;
  }
}
.mainview {
  position: fixed; top: 0; left: 0; height: 100%; width: 100%; max-width: 880px; padding: 0 5px; z-index: 10; overflow: hidden;
  background-color: var(--bg-2);
  &:before, &:after {
    content: " "; display: table-cell;
  }
}