---
const { props } = Astro.props;
---

<footer>
    <div>Designed by 어즐,</div>
    <div>Deployed on Github Pages</div>
</footer>

<style lang="scss">
    footer {
        padding: 0.5rem 0;
        display: flex; column-gap: 0.5rem; justify-content: center; flex-wrap: wrap;
    }
</style>