---
import Header from "./Header.astro";
import Article from "./Article.astro";
import Footer from "./Footer.astro";

const { props } = Astro.props;
---

<div class="layout">
    <div class="header">
        <div>
            <Header {props} />
        </div>
    </div>
    <div class="article">
        <div>
            article
        </div>
    </div>
    <div class="footer">
        <div>
            <Footer {props} />
        </div>
    </div>
</div>

<script>
    "use strict";

    // return { html, frontmatter }
    async function render(url) {
        let html = await (await fetch(`https://raw.githubusercontent.com/ehzl7b/ehzl7b.github.io/main/_pages${url === "/" ? "/index.md" : url}`)).text();
        let frontmatter = "";

        if (html.startsWith("404: Not Found")) {
            html = await (await fetch(`https://raw.githubusercontent.com/ehzl7b/ehzl7b.github.io/main/_pages/404.md`)).text();
        }

        if (html.startsWith("---")) {
            let t = html.indexOf("---", 3);
            if (t !== -1) {
                frontmatter = html.slice(3, t).trim();
                html = html.slice(t + 3).trim();
            }
        }

        if (html) html = md.render(html);
        if (frontmatter) frontmatter = yaml.load(frontmatter);

        return { html, frontmatter };
    }

    // return html
    async function content(url) {
        let { html, frontmatter } = await render(url);
        
        return `<h1 class="page-title">${frontmatter.title ?? ""}</h1>`
             + `<div class="meta description">${frontmatter.description ?? ""}</div>`
             + `<div class="meta updated">${frontmatter.updated ?? ""}</div>`
             + html; 
    }

    
    // test code
    document.addEventListener("DOMContentLoaded", async () => {
        let url = "/[2404081041]index.mds";
        const $article = document.querySelector(".article div");

        let html = await content(url);
        $article.innerHTML = html;
    });
    
</script>

<style lang="scss">
    $max-width: 1200px;

    .layout {
        position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 0;
        overflow-x: hidden; overflow-y: scroll;

        &:before, &:after {
            content: " "; display: table-cell; clear: both;
        }
    }
    .header, .article, .footer {
        width: 100%;

        & > div {
            position: relative; width: 100%; max-width: #{$max-width}; margin: 0 auto; padding: 0 5px;
        }
    }
    .header {
        border-bottom: 1px solid var(--fg-sub);
    }
    .footer {
        position: sticky; top: 100vh;
        border-top: 1px solid var(--fg-sub);
    }
</style>