---
layout: "base"
title: "알고리즘 스터디"
description: "자료구조와 알고리즘 풀이"
updated: "2024-11-13"
permalink: "/algorithm/"
tags: cats
eleventyExcludeFromCollections: true
---
<div class="nav">
  <ul>
    {% for page in collections.algorithm %}
      <li><a href="{{ page.data.permalink }}">{{ page.data.title }}</a></li>
    {% endfor %}
  </ul>
</div>