---
layout: "page"
title: "{{ title }} 카테고리"
description: "카테고리에 속한 포스팅들 리스트, Ctrl + F 로 검색하세요."
---

<ul>
  {% assign pages = pagesMap[dir] %}
  {% if reverse %}
    {% assign pages = pages | reverse %}
  {% endif %}
  {% for page in pages %}
    <li><a href="{{ page.permalink }}">{{ page.title }}</a>, Last updated: {{ page.updated }}</li>
  {% endfor %}
</ul>