---
const { left, right } = Astro.props;
---

<label class="switch">
    <div class="left">{left}</div>
    <div class="wrapper">
        <div class="bar"></div>
        <div class="btn"></div>
    </div>
    <div class="right">{right}</div>
</label>

<script>
    "use strict";

    const $switch = document.querySelector("label.switch");
    const $btn = $switch.querySelector(".btn");
    const $html = document.querySelector("html");

    $switch.onclick = function(e) {
        $btn.classList.toggle("clicked");
        $html.dataset.theme = $html?.dataset.theme === "light" ? "dark" : "light";
    };
</script>

<style lang="scss">
    label.switch {
        position: relative; height: 1.5rem; width: 5rem;
        display: block;
        cursor: pointer; overflow: hidden;

        & > div {
            position: absolute; top: 0; text-align: center;
        }
        
        .left {
            left: 0; height: 1.5rem; width: 1.5rem;
        }
        .wrapper {
            position: relative;
            left: 1.5rem; height: 100%; width: 2rem;
            display: flex; align-items: center;
            .bar {
                height: 0.5rem; width: 100%;
                background: var(--bg-sub); border-radius: 9999px;
            }
            .btn {
                position: absolute; left: 0; height: 1rem; width: 1rem;
                background: var(--fg-sub); border-radius: 9999px;

                &.clicked {
                    left: 1rem;
                }
            }
        }
        .right {
            left: 3.5rem; height: 1.5rem; width: 1.5rem;
        }
    }
</style>