p.announce
  | 본 페이지는
  a(href="https://github.com/kiranpalsingh1806/awesome-leetcode") https://github.com/kiranpalsingh1806/awesome-leetcode
  | 에서 소개한 
  a(href="https://leetcode.com") leetcode
  |  사이트 문제를 풀어보면서 알고리즘을 스터디하는 페이지다.
| !{content}