---
import Layout from "./Layout.astro";

const site = {
  title: "EHZL7b 블로그";
};
---

<!doctype html>
<html lang="ko" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <Layout site={ site } />
  </body>
</html>