---
import menus from '../../_pages/navmenu.yaml'

const site = {
  name: `Tezyns'Blog`
}
---

<!doctype html>
<html lang="ko" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ site.name }</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-color@1.9.1/open-color.min.css">
  </head>
  <body>
    <div class="menu-btn">
      <label>
        <input type="checkbox">
        <div class="menu-btn-icon"></div>
      </label>
    </div>
    <div class="dummy">
      <div class="bg-left"></div>
      <div class="bg-right"></div>
    </div>
    <div class="sidebar">
      <header>
        <h1 class="site-name"><a href="/">{site.name}</a></h1>
        <div class="theme-btn">
          <label>
            <div class="theme-left"></div>
            <div class="wrapper">
              <input type="checkbox">
              <div class="theme-switch"></div>
            </div>
            <div class="theme-right"></div>
          </label>
        </div>
      </header>
      <nav>
        <ul>
          {
            menus.map(menu => {
              <li class="item"><a href={`/` + menu.id}>{menu.title}</a></li>
            })
          }
        </ul>
      </nav>
      <footer>
        <div class="footer-msg">This blog is designed by Tez</div>
      </footer>
    </div>
    <div class="mainview">
      <article>
        <slot /> <!-- fetched article goes here -->
      </article>
    </div>
  </body>
</html>

<style lang="scss" is:global>
  [data-icon] {
    height: 100%; width: 100%;
  }
  * {
    -webkit-tap-highlight-color: transparent; box-sizing: border-box;
  }
  body, div, header, main, footer, section {
    -ms-overflow-style: none; scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  body, pre, code, kbd, samp {
    font: 400 16px "D2Coding",monospace; line-height: 1.5;
  }
  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
</style>