---
import { Icon } from 'astro-icon/components'
import menus from '../../_pages/navmenu.yaml'

const site = {
  name: `Tezyns'Blog`
}
---

<!doctype html>
<html lang="ko" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ site.name }</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-color@1.9.1/open-color.min.css">
  </head>
  <body>
    <div class="menu-btn">
      <label>
        <div class="menu-btn-bg"></div>
        <input type="checkbox">
        <div class="menu-btn-icon"><Icon name="bi:plus-circle" /></div>
      </label>
    </div>
    <div class="dummy">
      <div class="bg-left"></div>
      <div class="bg-right"></div>
    </div>
    <div class="sidebar">
      <header>
        <h1 class="site-name"><a href="/">{site.name}</a></h1>
        <div class="theme-btn">
          <label>
            <div class="theme-left"><Icon name="bi:cloud-sun" /></div>
            <div class="wrapper">
              <input type="checkbox">
              <div class="theme-switch"></div>
            </div>
            <div class="theme-right"><Icon name="bi:moon-stars" /></div>
          </label>
        </div>
      </header>
      <nav>
        <ul>
          {
            menus.map(menu => {
              <li class="item"><a href={`/` + menu.id}>{menu.title}</a></li>
            })
          }
        </ul>
      </nav>
      <footer>
        <div class="footer-msg">This blog is designed by Tez</div>
      </footer>
    </div>
    <div class="mainview">
      <article>
        Mainview...
        <slot /> <!-- fetched article goes here -->
      </article>
    </div>
  </body>
</html>

<style lang="scss" is:global>
  // global
  [data-icon] {
    height: 100%; width: 100%; vertical-align: top;
  }
  :root {
    --fg-1: var(--oc-gray-8); --fg-2: var(--oc-gray-6); --fg-a: var(--oc-blue-8); --fg-b: var(--oc-red-8);
    --bg-1: var(--oc-gray-2); --bg-2: var(--oc-gray-0); --bg-box: var(--oc-indigo-0);
    &[data-theme="dark"] {
      --fg-1: var(--oc-gray-1); --fg-2: var(--oc-gray-3); --fg-a: var(--oc-blue-1); --fg-b: var(--oc-red-1);
      --bg-1: var(--oc-gray-7); --bg-2: var(--oc-gray-9); --bg-box: var(--oc-indigo-9);
    }
  }
  * {
    -webkit-tap-highlight-color: transparent; box-sizing: border-box; transition: left 0.4s, transform 0.4s;
  }
  body, div, header, main, footer, section {
    -ms-overflow-style: none; scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  body, pre, code, kbd, samp {
    font: 400 16px "D2Coding",monospace; line-height: 1.5;
  }
  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none; color: var(--fg-a);
  }

  // layout
  .menu-btn {
    position: fixed; top: 1rem; right: 1rem; height: 2rem; width: 2rem; z-index: 40;
    overflow: hidden;
    label {
      position: relative; height: 100%; width: 100%;
      display: block; cursor: pointer;
      .menu-btn-bg {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        background-color: var(--fg-a); border-radius: 99px; opacity: 0.33;
      }
      input {
        height: 0; width: 0; opacity: 0;
        &:checked+div {
          transform: rotate(45deg);
        }
      }
      .menu-btn-icon {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      }
    }
  }
  .dummy {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 10;
    display: flex;
    .bg-left {
      flex: 1 0 0; height: 100%;
      background-color: var(--bg-1);
    }
    .bg-right {
      flex: 1 0 0; height: 100%;
      background-color: var(--bg-2);
    }
  }
  .sidebar {
    position: fixed; top: 0; left: -320px; width: 320px; height: 100%; z-index: 30;
    padding: 0 0.5rem;
    background-color: var(--bg-1);
    &.checked {
      left: 0px;
    }
    @media (min-width: 1200px) {
      left: calc(50vw - 600px);
      &.checked {
        left: calc(50vw - 600px);
      }
    }
  }
  .mainview {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 20;
    padding: 0 0.5rem;
    background-color: var(--bg-2);
    @media (min-width: 1200px) {
      left: calc(50vw - 280px);
    }
  }

  // header
  header {
    height: 100%; width: 100%;
    h1.site-name {
      margin: 1.5rem 0;
      font-size: 2rem; text-align: center;
    }
    .theme-btn {
      height: 1.5rem; width: 100%; margin: 1.5rem 0;
      text-align: center;
      overflow: hidden;
      label {
        height: 100%;
        display: inline-flex; align-items: center; justify-content: center; column-gap: 0.5rem;
        cursor: pointer;
        .theme-left {
          height: 1rem; width: 1rem;
          color: var(--fg-1);
          &.checked {
            color: var(--fg-2);
          }
        }
        .wrapper {
          position: relative;
          height: 1.2rem; width: 2rem;
          box-sizing: content-box; border: 1px solid var(--fg-2); border-radius: 99px;
          input {
            height: 0; width: 0; opacity: 0;
            &:checked+div {
              left: 0.9rem;
            }
          }
          .theme-switch {
            position: absolute; top: 0.1rem; left: 0.1rem; height: 1rem; width: 1rem;
            background-color: var(--fg-1); border-radius: 99px;
          }
        }
        .theme-right {
          height: 1rem; width: 1rem;
          color: var(--fg-2);
          &.checked {
            color: var(--fg-1);
          }
        }
      }
    }
  }
</style>

<script is:inline>
  var $root = document.querySelector('html');
  var $menu_btn_input = document.querySelector('.menu-btn label input');
  var $sidebar = document.querySelector('.sidebar');
  var $theme_btn_input = document.querySelector('.theme-btn label .wrapper input');
  var $theme_left = document.querySelector('.theme-left');
  var $theme_right = document.querySelector('.theme-right');

  // 메뉴 버튼 조작
  $menu_btn_input.onclick = e => {
    if (e.target.checked) {
      $sidebar.classList.add('checked');
    } else {
      $sidebar.classList.remove('checked');
    }
  };

  // 테마 전환 버튼 조작
  var set_theme = theme => {
    $root.dataset.theme = theme;
    window.sessionStorage.setItem('theme', theme);
    if (theme === 'dark') {
      $theme_left.classList.add('checked');
      $theme_right.classList.add('checked');
    } else {
      $theme_left.classList.remove('checked');
      $theme_right.classList.remove('checked');
    }
  };
  let cur_theme = window.sessionStorage.getItem('theme') || (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches  ? 'dark' : 'light');
  if (cur_theme === 'dark') {
    $theme_btn_input.checked = true;
    set_theme('dark');
  }
  $theme_btn_input.onclick = e => {
    set_theme((e.target.checked) ? 'dark' : 'light');
  };
</script>